<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <!-- background video yes or no -->

    <!-- center -->
    <div class="m-auto content-box">

        <h1>Auction Masters</h1>
        <table>
            <tr>
                <th>Auction Key</th>
                <th>Other Information</th>
                <th>3</th>
                <th>3</th>
                <th>3</th>
                <th>3</th>
                <th>3</th>
                <th>3</th>
                <!-- Add more table headers if needed -->
            </tr>
            <tr>
                <td th:text="${auctionMaster.auctionKey}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <td th:text="${auctionMaster.otherProperty}"></td>
                <!-- Add more table data if needed -->
            </tr>
        </table>
    </div>
</div>

</html>