<html layout:decorate="~{layout}">
<!-- content -->
<div layout:fragment="content" class="container">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- card 01 -->
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="270"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="자리표시자: 썸네일"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">
                        예상 낙찰가 시뮬레이션 하러가기.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <a th:href="@{index.html}">경매, 어렵지 않습니다.</a>
                            </button>
                        </div>
                        <small class="text-body-secondary">
                            9분
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 02 -->
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="270"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="자리표시자: 썸네일"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">
                        입찰조회 페이지입니다. 간단한 설명입니다.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                보러가기
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                미정
                            </button>
                        </div>
                        <small class="text-body-secondary">
                            9분
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- card 03 -->
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="270"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="자리표시자: 썸네일"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">
                        정보교류 게시판입니다. 간단한 설명입니다.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                보러가기
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                미정
                            </button>
                        </div>
                        <small class="text-body-secondary">
                            9분
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>